.img-header {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../image/norwar_2.png");
    position: relative;
}

.topic-header {
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.topic-wh {
    color: #ffffff;
    font-size: 40pt;
}

.sub-topic-wh {
    color: #ffffff;
}

@media(max-width: 800px){
    .topic-wh{
        font-size: 30pt;
    }
}