@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Barlow', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}